
auto_vot/bin/.idea/
auto_vot/bin/.idea/
auto_vot/bin/InitialVotDecode
auto_vot/bin/InitialVotTrain
auto_vot/bin/VotFrontEnd
auto_vot/bin/VotFrontEnd2
auto_vot/bin/auto_vot_extract_features.pyc
auto_vot/bin/autovot/__init__.pyc
auto_vot/bin/autovot/textgrid.pyc
auto_vot/bin/autovot/utilities.pyc
auto_vot/code/learning_tools/cmdline/cmd_line.o
auto_vot/code/learning_tools/cmdline/libcmdline.a
auto_vot/code/learning_tools/cmdline/tester
auto_vot/code/learning_tools/cmdline/tester.o
auto_vot/code/learning_tools/htk_utils/_Darwin_Release/
auto_vot/code/learning_tools/infra2/infra_binary.o
auto_vot/code/learning_tools/infra2/infra_binary.od
auto_vot/code/learning_tools/infra2/infra_exception.o
auto_vot/code/learning_tools/infra2/infra_exception.od
auto_vot/code/learning_tools/infra2/infra_mm_funcs.o
auto_vot/code/learning_tools/infra2/infra_mm_funcs.od
auto_vot/code/learning_tools/infra2/infra_vm_funcs.o
auto_vot/code/learning_tools/infra2/infra_vm_funcs.od
auto_vot/code/learning_tools/infra2/infra_vv_funcs.o
auto_vot/code/learning_tools/infra2/infra_vv_funcs.od
auto_vot/code/learning_tools/infra2/libinfra.a
auto_vot/code/learning_tools/infra2/libinfra_debug.a
auto_vot/code/learning_tools/infra2/tester
auto_vot/code/learning_tools/infra2/tester.o
auto_vot/code/learning_tools/infra2/tester.od
auto_vot/code/learning_tools/infra2/tester_debug
auto_vot/code/learning_tools/infra2/tester_endian
auto_vot/code/learning_tools/infra2/tester_endian.od
auto_vot/code/vot_predictor/Logger.ddj.h
auto_vot/code/vot_predictor/_Darwin_Debug/
auto_vot/code/vot_predictor/_Darwin_Release/
auto_vot/code/vot_predictor/build/
auto_vot/code/vot_predictor/vot_joint.xcodeproj/project.xcworkspace/xcshareddata/
auto_vot/code/vot_predictor/vot_joint.xcodeproj/project.xcworkspace/xcuserdata/jkeshet.xcuserdatad/UserInterfaceState.xcuserstate
auto_vot/code/vot_predictor/vot_joint.xcodeproj/xcuserdata/jkeshet.xcuserdatad/xcschemes/InitialVotTrain.xcscheme
auto_vot/code/vot_predictor/vot_joint.xcodeproj/xcuserdata/jkeshet.xcuserdatad/xcschemes/VotFrontEnd2.xcscheme'
auto_vot/code/vot_predictor/vot_joint.xcodeproj/xcuserdata/jkeshet.xcuserdatad/xcschemes/xcschememanagement.plist
auto_vot/code/vot_predictor/vot_joint.xcodeproj/xcuserdata/jkeshet.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
experiments/
