
autovot/bin/.idea/
autovot/bin/.idea/
autovot/bin/VotDecode
autovot/bin/VotTrain
autovot/bin/VotFrontEnd
autovot/bin/VotFrontEnd2
autovot/bin/autovot_extract_features.pyc
autovot/bin/autovot/__init__.pyc
autovot/bin/autovot/textgrid.pyc
autovot/bin/autovot/utilities.pyc
autovot/code/learning_tools/cmdline/cmd_line.o
autovot/code/learning_tools/cmdline/libcmdline.a
autovot/code/learning_tools/cmdline/tester
autovot/code/learning_tools/cmdline/tester.o
autovot/code/learning_tools/htk_utils/_Darwin_Release/
autovot/code/learning_tools/infra2/infra_binary.o
autovot/code/learning_tools/infra2/infra_binary.od
autovot/code/learning_tools/infra2/infra_exception.o
autovot/code/learning_tools/infra2/infra_exception.od
autovot/code/learning_tools/infra2/infra_mm_funcs.o
autovot/code/learning_tools/infra2/infra_mm_funcs.od
autovot/code/learning_tools/infra2/infra_vm_funcs.o
autovot/code/learning_tools/infra2/infra_vm_funcs.od
autovot/code/learning_tools/infra2/infra_vv_funcs.o
autovot/code/learning_tools/infra2/infra_vv_funcs.od
autovot/code/learning_tools/infra2/libinfra.a
autovot/code/learning_tools/infra2/libinfra_debug.a
autovot/code/learning_tools/infra2/tester
autovot/code/learning_tools/infra2/tester.o
autovot/code/learning_tools/infra2/tester.od
autovot/code/learning_tools/infra2/tester_debug
autovot/code/learning_tools/infra2/tester_endian
autovot/code/learning_tools/infra2/tester_endian.od
autovot/code/vot_predictor/WavFile.o
autovot/code/vot_predictor/Logger.ddj.h
autovot/code/vot_predictor/_Darwin_Debug/
autovot/code/vot_predictor/_Darwin_Release/
autovot/code/vot_predictor/build/
autovot/code/vot_predictor/vot_joint.xcodeproj/project.xcworkspace/xcshareddata/
autovot/code/vot_predictor/vot_joint.xcodeproj/project.xcworkspace/xcuserdata/jkeshet.xcuserdatad/UserInterfaceState.xcuserstate
autovot/code/vot_predictor/vot_joint.xcodeproj/xcuserdata/jkeshet.xcuserdatad/xcschemes/InitialVotTrain.xcscheme
autovot/code/vot_predictor/vot_joint.xcodeproj/xcuserdata/jkeshet.xcuserdatad/xcschemes/VotFrontEnd2.xcscheme'
autovot/code/vot_predictor/vot_joint.xcodeproj/xcuserdata/jkeshet.xcuserdatad/xcschemes/xcschememanagement.plist
autovot/code/vot_predictor/vot_joint.xcodeproj/xcuserdata/jkeshet.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
autovot/code/vot_predictor/vot_joint.xcodeproj/xcuserdata/
experiments2/
autovot/bin/auto_vot_extract_features.pyc
autovot/bin/helpers/__init__.pyc
autovot/bin/helpers/textgrid.pyc
autovot/bin/helpers/utilities.pyc
*.DS_Store
q7_vot_train_amanda.sh
