<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InitialVotTrain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>VotFrontEnd2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDA059051842010A005FE3E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDA059201848D392005FE3E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDE75749186099120076869A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDE7575318609CCC0076869A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDF8EB871881D2980014BD80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
